<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Purchase</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">ReadyOrNot<br>Ripe Fruit Detector</h1>
        <p class="lead">Check to see if your fruits are ready to eat for only $5</p>
        <form action="{{ url_for('pay') }}" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ pub_key }}"
            data-amount="500"
            data-name="ReadyOrNot"
            data-description="Ripe Fruit Detection"
            data-image="https://i.gyazo.com/bc0db091bb87c2e82cf308c41bbed86d.png"
            data-locale="auto">
          </script>
        </form>
        <br>
        <img src="{{url_for('static', filename='eatnowbuylater.jpg')}}" width="600px" height="433px" class="img-responsive" />

      </div>
    </div> <!-- /container -->

  </body>
</html>
